@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    @apply text-xl;
  }
  h2 {
    @apply text-lg;
  }
  h3 {
    @apply text-base;
  }
}
@layer components {
  .iconMessageInput {
    @apply cursor-pointer text-2xl md:text-[26px] text-slate-800 hover:md:opacity-80;
  }
}
@layer utilities {
  .smText {
    color: #818181;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    font-size: 0.8rem;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .bgMessage {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../public/bg1.png');
    opacity: 0.4;
    z-index: -1;
  }

  .bfMyMess {
    content: '';
    position: absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(
      135deg,
      #8bb56b 0%,
      #8bb56b 50%,
      transparent 50%,
      transparent
    );
  }

  .bfOtherMess {
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(
      225deg,
      #ddd 0%,
      #ddd 50%,
      transparent 50%,
      transparent
    );
  }
}

* {
  margin: 0;
  padding: 0;
}

@media screen (max-width: 600px) {
  ::-webkit-scrollbar {
    width: 2px !important;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
